<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
      <div>
          <%= f.label :name, 'Your name' %>
          <div class="help-text">We'll use this name in your ebook's watermark, and in your invoice</div>
          <%= f.text_field :name %>
      </div>
      <div>
          <%= f.label :email, 'Email' %>
          <div class="help-text">We'll send your invoice here</div>
          <%= f.text_field :email %>
      </div>
      <div>
        <label>E-reader(s)</label>
        <div class="help-text">When you buy an ebook from us, you automatically get ePub and KF8 (Kindle) formats. Knowing which e-reading devices you use means we can deliver them to you so that they just work.</div>
        <%= check_box_tag 'customer[device_type][]', 'kindle', @customer.device_type && @customer.device_type.include?('kindle'), :id => 'kindle'  %>
        <%= f.label "device_kindle", 'Kindle' %>
        <div class="hidden-extra" id="kindle-extra">
          <%= f.label :kindle_email, 'Your Kindle\'s email' %>
          <%= f.text_field :kindle_email %>
          <div class="help-text">Every Kindle has a unique email address. If you tell us what it is, we can deliver your ebook straight to your Kindle. You can find it in <em>Settings > Device Options > Personalise your Kindle</em>. You'll also need to go to <a href="http://www.amazon.co.uk/myk">www.amazon.co.uk/myk</a> and add <strong>ab@adam-butler.com</strong> to you list of known email addresses under <em>Personal Document Settings</em>.</div>
        </div>
        <br>
        <%= check_box_tag 'customer[device_type][]', 'iOS', @customer.device_type && @customer.device_type.include?('iOS'), :id => 'ios'  %>
        <%= f.label "device_iOS", 'iPad/iPhone' %>
        <div class="hidden-extra" id="ios-extra">
          <div class="help-text">For best results, access this site from your iPad or iPhone - that way we can download your ebook straight into iBooks.</div>
        </div>
        <br>
        <%= check_box_tag 'customer[device_type][]', 'other', @customer.device_type && @customer.device_type.include?('other'), :id => 'other'  %>
        <%= f.label "device_other", 'Other' %>
        <br>
      </div>
      <div class="credit-card">
        <h3>Secure credit card payment</h3>
        <div>
          <%= f.label :cc_number, 'Credit card number' %>
          <%= f.text_field :cc_number %>
        </div>
        <div>
          <%= f.label :cc_exp_date, 'Credit card expiration date' %>
          <%= f.date_select :cc_exp_date, :discard_day => true, :use_month_numbers => true, :start_year => 2013, :order => [:month, :year] %>
        </div>
        <div>
          <%= f.label :cc_cvc, 'Security code (or CVC code)' %>
          <div class="help-text">The last 3 numbers shown on the back of your credit card</div>
          <%= f.text_field :cc_cvc, :size => 4, :class => 'cvc' %>
        </div>
        <div>
          <%= f.check_box :save_cc_details %>
          <%= f.label :save_cc_details, 'Save credit card details' %>
          <div class="help-text">If you check this, you'll be able to buy books from us in future without having to re-enter your credit card details. Your credit card information will be stored under maximum security (MORE INFO HERE)</div>
        </div>
      </div>
      <div>
          <%= f.label :password, 'Password' %>
          <div class="help-text">If you enter a password, you can use it to log in next time you buy an ebook from us. You'll also be able to download every book you've ever bought from us in any available format, whenever you want. If you'd rather remain anonymous, just leave it blank, and we won't store any of your details.</div>
          <%= f.password_field :password, id: 'pw-box' %>
      </div>
      <div style="display: none" id="pw-conf">
          <%= f.label :password_confirmation, 'Password confirmation' %>
          <div class="help-text">You know the drill.</div>
          <%= f.password_field :password_confirmation %>
      </div>
      <div>
          <%= f.submit "Continue", class: 'btn-info btn' %>
      </div>
  </fieldset>
<% end %>
