<% if notice %>
<span class="label label-warning" id="notice">
  <%= notice %>
</span>
<% end %>
</div>
<div class="first-content">
  <div class="container">
    <div class="row book-info">
      <div class="span4">
        <%= image_tag(@book.image_url) %>
      </div>
      <div class="span4">
        <h2><%= @book.title %></h2>
        <h3><%= @book.author %></h3>
        <h4>&pound;<%= @book.price %></h4>
        <p>ISBN: <%= @book.isbn %></p>
        <p>Publication date: <%= @book.publication_date.strftime("%B %Y") %></p>
        <% if @book.editor.length != 0 %>
          <p>Edited by <%= @book.editor %></p>
        <% end %>
        <% if @book.translator.length != 0 %>
          <p>Translated by <%= @book.translator %></p>
        <% end %>
        <% if @book.page_count %>
          <p>Pages: <%= @book.page_count %> (<%= @book.page_count_edition %>)
        <% end %>
        <div style="margin-left: 0; margin-top: 1.4em;">
          <%= link_to 'Buy Now', new_order_path(book_id: @book.id), action: 'new', method: 'get', class: 'btn-large btn-block btn-success btn' %>
          <%= link_to 'Download a sample', line_items_path(book_id: @book.id), remote: true, class: 'btn-large btn-block btn-warning btn' %>
        </div>
      </div>
      <div class="span4 blurbs">
        <%= sanitize @book.teaser %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row book-info">
    <div class="span12">
      <%= md @book.description %>
    </div>
  </div>

  <p>
    <strong>Price:</strong>
    <%= @book.price %>
  </p>


  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Back', books_path %>
