<% if notice %>
<span class="label label-warning" id="notice">
  <%= notice %>
</span>
<% end %>
</div>
<div class="first-content">
  <div class="container">
    <div class="row-fluid">
      <div class="span5 offset1 book-cover">
        <%= image_tag(@book.image_url) %>
      </div>
      <div class="span5 book-info">
        <h1><%= @book.title %></h1>
        <h2><%= @book.author %></h2>
        <h4>&pound;<%= @book.price %></h4>
        <div class="buttons">
          <%= link_to 'Buy Now', new_order_path(book_id: @book.id), action: 'new', method: 'get', class: 'btn-large btn-block btn' %>
        </div>
        <p>ISBN: <%= @book.isbn %></p>
        <% if @book.editor.length != 0 %>
          <p>Edited by <%= @book.editor %></p>
        <% end %>
        <% if @book.translator.length != 0 %>
          <p>Translated by <%= @book.translator %></p>
        <% end %>
        <% if @book.page_count %>
          <p><%= @book.page_count %> pages (<%= @book.page_count_edition %>)
        <% end %>
        <p><%= @book.publication_date.strftime("%B %Y") %></p>
        <%= md @book.teaser %>
      </div>
    </div>
  </div>
</div>

<% if @book.blurbs? %>
  <div class="blurbs-row">
    <div class="container">
      <div class="row book-info">
        <% @book.blurbs_as_array(3).each do |blurb| %>
          <div class="span4"><%= md blurb %></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="second-content">
  <div class="container">
    <div class="row book-info">
      <div class="span8">
        <%= md @book.description %>
      </div>
      <% if @book.contents? %>
        <div class="span4">
          <h2>Contents</h2>
          <%= md @book.contents %>
        </div>
      <% end %>
    </div>
    
    <%= link_to 'Edit', edit_book_path(@book) %> 
    <%= link_to 'Back', books_path %>
  </div>
</div>
