
<% if notice %>
<span class="label label-warning" id="notice">
  <%= notice %>
</span>
<% end %>

<div id="display-storefront">
  <% cache ['store', Book.latest] do %>
    <% @books.each_with_index do |book, i| %>
       <% cache ['entry', book] do %>    
          <a class="book-storefront<% if book.featured? %> featured<% end %>" href="/books/<%= book.id %>">
            <%= image_tag(book.image_url) %>
            <div class="teaser">
              <div class="teaser-text">
                <h3><%= book.title %></h3>
                <h4><%= book.author %></h4>
                <% if book.featured? %>
                  <p><%= md book.teaser %></p>
                <% end %>
              </div>
            </div>
          </a>
      <% end %>
    <% end %>
  <% end %>
</div>

