<!DOCTYPE html>
<html>
<head>
  <title>Bks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header class="jumbotron subhead">
        <div class="container">
            <h1 class="span8">URBANOMIC</h1>
<% if @cart %>
    <%= hidden_div_if(@cart.line_items.empty?, id: 'cart', class: 'span3') do %>
        <%= render @cart %>
    <% end %>
<% end %>
        </div>
    </header>
        <div class="container">
            <%= yield %>
        </div>
</body>
</html>
